<div class="container row mx-auto mt-5">
  <h2 class="col-md-12 text-center mb-3">資産一覧</h2>
  <div class="col-md-12 mb-3">
    <%= render 'searchs/search_fixed_asset', url: approved_index_staffs_fixed_assets_path, q: @q %>
  </div>
  <%= render 'approved_index', fixed_assets: @fixed_assets %>
</div>