<div class="about-image d-flex justify-content-center align-items-center">
  <div class="about-text text-center">
  <p>このアプリは、私が前職で経理の固定資産管理を担当していた<br />
     際にあればいいなと思っていたことを形にしたものです。</p>
  <p>どの会社でも固定資産を管理するのは大変だと思うので、<br />
     その管理を少しでも楽にできたらと思い作成しました。</p>
  </div>
</div>
